<!DOCTYPE html>
<html>
  <head>
    <title>Jukebox</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class = "body-box">
    <div class="banner-box banner">
        <h1>jukebox</h1>
    </div>
    <div class="main-box">
      <%= yield %>
    </div>
    <div class="footer-box">
    footer
    </div>
  </body>
</html>
